In [1]:
random_sent = 'Hello, General Kenobi!'

for letter in random_sent:
    print(letter)

H
e
l
l
o
,

G
e
n
e
r
a
l

K
e
n
o
b
i
!

In [4]:
for i in range(6+1):
    print(i)

0
1
2
3
4
5
6

In [14]:
for i in range(1, 4):
    print('Outer loop position:', i)
    for j in range(1,4):
        print('Inner loop position:', j)
        print(i*j, end = " ")
        print('i * j:', i*j)

    print()

Outer loop position: 1
Inner loop position: 1
1 i * j: 1
Inner loop position: 2
2 i * j: 2
Inner loop position: 3
3 i * j: 3

Outer loop position: 2
Inner loop position: 1
2 i * j: 2
Inner loop position: 2
4 i * j: 4
Inner loop position: 3
6 i * j: 6

Outer loop position: 3
Inner loop position: 1
3 i * j: 3
Inner loop position: 2
6 i * j: 6
Inner loop position: 3
9 i * j: 9

In [1]:
# Take input from user
str_manip = input('Please enter your sentence here: ')

# Calculate and print the length of the sentence
print(f'The sentence is {len(str_manip)} characters long.')

# Find the last character
last_char = str_manip[-1] if str_manip[-1] != '.' and str_manip[-1] != ' ' else str_manip[-2]
print(f"The last character is {last_char}.")

# Replace the last character and all its occurrences with '@'
new_sentence = ''  # Create a new string to store the modified sentence
for u in str_manip:
    if u == last_char:
        new_sentence += '@'  # If the character is the last character, replace it with '@'
    else:
        new_sentence += u  # Otherwise, keep the character as it is

print("Modified sentence:", new_sentence)

The sentence is 12 characters long.
The last character is e.
Modified sentence: h@llo, th@r@

In [4]:
a = 'pythom'
a[-2]

'o'

In [9]:
text = 'codingforfun'

print(text[0:4], text[-4:-1])
print(text.capitalize())

codi rfu
Codingforfun

In [10]:
txt = ',,,,,,,,rtgbananarr...'
x = txt.strip(',.rtg')
x

'banana'

In [12]:
fruits = ['apple', 'banana', 'orange']
fruits.extend(['mango', 'grapes'])
fruits

['apple', 'banana', 'orange', 'mango', 'grapes']

In [13]:
fruits.pop(2)

'orange'

In [14]:
fruits

['apple', 'banana', 'mango', 'grapes']

In [15]:
del fruits[0]

In [16]:
fruits

['banana', 'mango', 'grapes']

In [17]:
fruits.clear()

In [18]:
fruits

[]

In [25]:
fruits = ['apple', 'banana', 'orange']

In [23]:
fruits.sort(reverse=True)
fruits

['orange', 'banana', 'apple']

In [30]:
sorted(fruits, reverse=True)

['orange', 'banana', 'apple']

In [31]:
fruits

['apple', 'banana', 'orange']

In [33]:
my_dict = dict(name='kitty', age=25, city='minsk')
my_dict

{'name': 'kitty', 'age': 25, 'city': 'minsk'}

In [35]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [36]:
my_dict.items()

dict_items([('name', 'kitty'), ('age', 25), ('city', 'minsk')])

In [37]:
my_dict.values()

dict_values(['kitty', 25, 'minsk'])

In [39]:
if 'model' in my_dict:
    print('yes, model is a key in the dictionary')
else:
    print('no')

no

In [42]:
my_dict.update({'city': 'london'})
my_dict

{'name': 'kitty', 'age': 25, 'city': 'london'}

In [46]:
dictionary = my_dict.copy()
dictionary

{'name': 'kitty', 'age': 25, 'city': 'london'}

In [45]:
car = dict(my_dict)
car

{'name': 'kitty', 'age': 25, 'city': 'london'}

In [47]:
child1 = dict(name = 'adam', age = 8)
child2 = dict(name = 'ben', age = 10)
child3 = {'name':'charles', 'age':7}

In [49]:
class_list = {'child1':child1, 'child2':child2, 'child3':child3}
class_list

{'child1': {'name': 'adam', 'age': 8},
 'child2': {'name': 'ben', 'age': 10},
 'child3': {'name': 'charles', 'age': 7}}

In [52]:
list_of_dicts = ( {'child':'ben', 'age':9}, {'child':'andrew', 'age':'$'} )
list_of_dicts

({'child': 'ben', 'age': 9}, {'child': 'andrew', 'age': '$'})

In [57]:
import pandas as pd

pd.DataFrame(list_of_dicts)

ModuleNotFoundError: No module named 'pandas'

In [67]:
f = 'but'

p=''
for t in f[-3:]:
    p+=t
p

'but'

In [65]:
sorted(f, reverse=True)

['u', 't', 'b']

In [68]:
f[::-1]

'tub'

In [69]:
f = 'hello there'
f[::-1]

'ereht olleh'

In [75]:
my_number = 0
while my_number < 100:
    my_number += 1
    if my_number > 23:
        continue
    print(my_number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [74]:
if my_number > 23:
    continue

SyntaxError: 'continue' not properly in loop (3140133948.py, line 2)

In [10]:
def multiple_choice_input(prompt, options):
    while True:
        print(prompt)
        for index, option in enumerate(options, start=1):
            print(f"{index}. {option}")
        
        choice = input("Enter your choice: ")
        if choice.isdigit():
            choice = int(choice)
            if 1 <= choice <= len(options):
                return options[choice - 1]
        
        print("Invalid choice. Please enter a number corresponding to one of the options.")

# Example usage:
city_options = ["New York", "London", "Paris"]
chosen_city = multiple_choice_input("Choose a city:", city_options)
print("You chose:", chosen_city)

Choose a city:
1. New York
2. London
3. Paris
You chose: Paris

In [13]:
## Holiday Total Cost

# Get input from user
prompt = ["London", "New York", "Paris"]
indeces = [1, 2, 3]

def multiple_choice(prompt, indeces):
    while True:
        print(f"Choose destination: \n{indeces}. {prompt}")
        global user_value
        if user_value in indeces:
            break

In [14]:
options = ['gg', 'uig', 'huh']

for index, option in enumerate(options, start=1):
            print(f"{index}. {option}")

1. gg
2. uig
3. huh

In [15]:
enumerate?

Init signature: enumerate(iterable, start=0)
Docstring:
Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
Type:           type
Subclasses: